Repository betagouv/anssi-demain-specialiste-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system

[PASSETONHACK] Corrige les images du héros
  back/vues/passe-ton-hack-d-abord.pug
  front/src/style/_page-passe-ton-hack-d-abord.scss
  front/statique/assets/images/passe-ton-hack-d-abord/hero-fond.avif
  front/statique/assets/images/passe-ton-hack-d-abord/hero-fond.jpg
  front/statique/assets/images/passe-ton-hack-d-abord/hero-img.avif
  front/statique/assets/images/passe-ton-hack-d-abord/hero-logo.avif
  front/statique/assets/images/passe-ton-hack-d-abord/hero-logo.png
  front/statique/assets/images/passe-ton-hack-d-abord/hero.png
Due: none

[PASSETONHACK] Centre le bouton d'inscription
  front/src/passe-ton-hack-d-abord/CommentParticiper.svelte
Due: prettier, eslint

[CACTUS] Recentre la partie gauche du Héro
  front/src/composants/Heros.svelte
  front/src/style/_page-operation-cactus.scss
Due: prettier, eslint

[PASSETONHACK] Centre les étapes du challenge
  front/src/passe-ton-hack-d-abord/Avantages.svelte
Due: prettier, eslint

[CACTUS] Tente d'améliorer l'image de sensibilisation
  front/src/operation-cactus/PoursuivezEnClasse.svelte
  front/statique/assets/images/operation-cactus/sensibilisation.avif
  front/statique/assets/images/operation-cactus/sensibilisation.jpg
Due: prettier, eslint

[CACTUS] Centre l'illustration en mobile
  back/vues/operation-cactus.pug
  front/src/composants/Heros.svelte
  front/src/style/_page-operation-cactus.scss
Due: prettier, eslint

[CACTUS] Mets en italique le terme phishing
  back/vues/operation-cactus.pug
  front/src/operation-cactus/Avantages.svelte
Due: prettier, eslint

[PASSETONHACK] Ajuste l'espacement de la marelle
  front/src/passe-ton-hack-d-abord/CommentParticiper.svelte
Due: prettier, eslint

Regroupe les dispositifs phares
  front/src/composants/Entete.svelte
Due: prettier, eslint

[JEUX] Interprète les retours à la lignes
  front/src/jeux/FicheJeu.svelte
Due: prettier, eslint

Réactive le mode élargi
  back/vues/encarts/selections.pug
  front/src/catalogue/CarteCatalogue.svelte
  front/src/cyber-en-jeux/CarteJeu.svelte
  front/src/cyber-en-jeux/Ressources.svelte
Due: prettier, eslint

Réactive les descriptions
  back/vues/encarts/selections.pug
  front/src/cyber-en-jeux/CarteJeu.svelte
  front/src/france-cybersecurity-challenge/CarteParticipationFcsc.svelte
  front/src/france-cybersecurity-challenge/CartesDerouleECSC.svelte
Due: prettier, eslint

[RENOVATE] Active le tableau de bord
  renovate.json
Due: none

[RENOVATE] Regroupe les mises à jour correctives
  renovate.json
Due: none

[RENOVATE] Limite @types/node à la version 24
  renovate.json
Due: none

[RENOVATE] Limite Sentry à la version 10
  renovate.json
Due: none

[CI] Utilise Ubuntu 26.04
  .github/workflows/deploiement.yml
  .github/workflows/grist-deploiement.yml
  .github/workflows/integration-continue.yml
  .github/workflows/securite-ci.yml
Due: none

[CI] Mets à jour actions/upload-artifact vers 7.0.1
  .github/workflows/grist-deploiement.yml
Due: none

[CI] Mets à jour actions/checkout vers 7.0.1
  .github/workflows/deploiement.yml
  .github/workflows/integration-continue.yml
  .github/workflows/securite-ci.yml
Due: none

[IA] Centralise les instructions des agents
  .agents/skills/integrer-landing-page/SKILL.md
  .agents/skills/integrer-landing-page/references/cablage-page.md
  .agents/skills/integrer-landing-page/references/design-system.md
  .agents/skills/integrer-landing-page/templates/Composant.svelte
  .agents/skills/integrer-landing-page/templates/_page.scss
  .agents/skills/integrer-landing-page/templates/page.pug
  .claude/skills
  AGENTS.md
Due: prettier, eslint

[CI] Mets à jour bridgecrewio/checkov-action vers 12.3130.0
  .github/workflows/securite-ci.yml
Due: none

[CI] Mets à jour actions/download-artifact vers 8.0.1
  .github/workflows/grist-deploiement.yml
Due: none

[OUTILLAGE] Ajoute le shell Nix du projet
  .envrc
  .gitignore
  default.nix
  npins/default.nix
  npins/sources.json
  shell.nix
Due: none

[DEPS] Mets à jour TypeScript vers 6.0.3
  back/package.json
  front/package.json
  front/src/vite-env.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier, eslint

[DEPS] Mets à jour ESLint vers 10.11.0
  back/package.json
  package.json
  pnpm-lock.yaml
Due: none

[CI] Mets à jour github/codeql-action vers 4.38.2
  .github/workflows/securite-ci.yml
Due: none

[CI] Mets à jour zizmorcore/zizmor-action vers 0.6.4
  .github/workflows/securite-ci.yml
Due: none

[OUTILLAGE] Mets à jour pnpm vers 12.9.0
  .github/workflows/integration-continue.yml
  .pre-commit-config.yaml
  default.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[DOC] Réorganise le guide de développement
  DEVELOPER.md
  README.md
Due: prettier

[DEPS] Mets à jour Testing Library
  front/package.json
  front/tests/jeux/FormulaireJeu/FormulaireJeu.spec.ts
  front/tests/jeux/FormulaireJeu/NomEtablissementAutoComplete.spec.ts
  front/tests/vitest-setup.ts
  front/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, eslint

[DEPS] Mets à jour Multer vers 2.4.0
  back/package.json
  pnpm-lock.yaml
Due: none

[DEPS] Mets à jour openid-client vers 6.8.8
  back/package.json
  back/src/api/oidc/adaptateurOIDC.ts
  back/src/api/oidc/ressourceApresAuthentificationOIDC.ts
  back/tests/api/fauxObjets.ts
  back/tests/api/oidc/ressourceApresAuthentificationOIDC.spec.ts
  pnpm-lock.yaml
Due: prettier, eslint

Path conditions:
  prettier: any of: \.(?:[jt]s?|md|svelte)$
  eslint: any of: \.(?:[jt]s?|svelte)$
