Repository betagouv/anssi-demain-specialiste-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: \.(?:[jt]s?|md|svelte)$
        types: [ file ]
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(?:[jt]s?|svelte)$
        types: [file]

Change Omnicité par Crème de la crème
  back/vues/annexes/a-propos.pug
Due: none

[GRIST] Compare les grist dans la CI
  .github/workflows/grist-deploiement.yml
Due: none

[GRIST] Utilise un snapshot
  .github/workflows/grist-deploiement.yml
Due: none

[GRIST] Sauvegarde l'empreinte
  .github/workflows/grist-deploiement.yml
Due: none

[GRIST] Télecharge l'empreinte
  .github/workflows/grist-deploiement.yml
Due: none

[GRIST] Recopie la démo en prod
  .github/workflows/grist-deploiement.yml
Due: none

[GRIST] Rends le déploiement manuel
  .github/workflows/grist-deploiement.yml
Due: none

[GRIST] Rends le déploiement dépendant de la comparaison
  .github/workflows/grist-deploiement.yml
Due: none

Monte la version de l’ui kit en 1.53.3
  front/package.json
  pnpm-lock.yaml
Due: none

Permets de participer à un accompagnement
  back/vues/index.pug
Due: none

Répare les tests front
  front/tests/vitest-setup.ts
  package.json
Due: prettier, eslint

Épingle les versions des dépendances des GitHub Actions
  .github/workflows/deploiement.yml
  .github/workflows/grist-deploiement.yml
  .github/workflows/integration-continue.yml
Due: none

[RENOVATE] Configure renovate
  renovate.json
Due: none

[pnpm] Corrige une commande
  package.json
Due: none

Corrige deux typos
  README.md
Due: prettier

Crée la page et le héro d'opération cactus
  back/src/api/ressourcesPages.ts
  back/tests/api/ressourcesPages.spec.ts
  back/vues/operation-cactus.pug
  front/src/index.scss
  front/src/index.ts
  front/src/operation-cactus/OperationCactus.svelte
  front/src/style/_page-operation-cactus.scss
  front/statique/assets/images/operation-cactus/hero.jpg
Due: prettier, eslint

Ajoute la section Présentation
  .claude/skills/integrer-landing-page/references/design-system.md
  front/src/operation-cactus/OperationCactus.svelte
  front/src/operation-cactus/Presentation.svelte
  front/statique/assets/images/operation-cactus/partenaires/cnil.svg
  front/statique/assets/images/operation-cactus/partenaires/comcyber-mi.svg
  front/statique/assets/images/operation-cactus/partenaires/cybermalveillance.svg
  front/statique/assets/images/operation-cactus/partenaires/e-enfance.svg
  front/statique/assets/images/operation-cactus/partenaires/educ-nationale.svg
  front/statique/assets/images/operation-cactus/partenaires/france-tv.svg
  front/statique/assets/images/operation-cactus/partenaires/interieur.svg
  front/statique/assets/images/operation-cactus/partenaires/justice.svg
  front/statique/assets/images/operation-cactus/partenaires/parquet-paris.svg
  front/statique/assets/images/operation-cactus/partenaires/unaf.svg
  front/statique/assets/images/operation-cactus/picto-eleves.svg
  front/statique/assets/images/operation-cactus/picto-etablissements.svg
Due: prettier, eslint

Ajoute un skill pour l'intégration de landing page
  .claude/skills/integrer-landing-page/SKILL.md
  .claude/skills/integrer-landing-page/references/cablage-page.md
  .claude/skills/integrer-landing-page/references/design-system.md
  .claude/skills/integrer-landing-page/templates/Composant.svelte
  .claude/skills/integrer-landing-page/templates/_page.scss
  .claude/skills/integrer-landing-page/templates/page.pug
Due: prettier, eslint

Ajoute la section Avantages
  front/src/operation-cactus/Avantages.svelte
  front/src/operation-cactus/OperationCactus.svelte
  front/statique/assets/images/operation-cactus/avantages.png
Due: prettier, eslint

Ajoute la section Poursuivez en classe
  .claude/skills/integrer-landing-page/references/design-system.md
  front/src/operation-cactus/OperationCactus.svelte
  front/src/operation-cactus/PoursuivezEnClasse.svelte
  front/statique/assets/images/operation-cactus/sensibilisation.jpg
Due: prettier, eslint

Ajoute la section Témoignages
  front/src/operation-cactus/OperationCactus.svelte
  front/src/operation-cactus/PoursuivezEnClasse.svelte
  front/src/operation-cactus/Temoignages.svelte
  front/statique/assets/images/operation-cactus/temoignage-johanna-brousse.jpg
Due: prettier, eslint

Crée la page vide "Passe ton hack d'abord"
  back/src/api/ressourcesPages.ts
  back/tests/api/ressourcesPages.spec.ts
  back/vues/passe-ton-hack-d-abord.pug
  front/src/index.scss
  front/src/index.ts
  front/src/passe-ton-hack-d-abord/PasseTonHackDabord.svelte
  front/src/style/_page-passe-ton-hack-d-abord.scss
Due: prettier, eslint

Ajoute la section "Déclarer une action"
  front/src/operation-cactus/DeclarerUneAction.svelte
  front/src/operation-cactus/OperationCactus.svelte
  front/src/operation-cactus/Temoignages.svelte
Due: prettier, eslint

Mode tablette pour "Présentation"
  front/src/operation-cactus/Presentation.svelte
Due: prettier, eslint

Ajoute le héros de "Passe ton Hack D'abord"
  back/vues/passe-ton-hack-d-abord.pug
  front/src/style/_page-passe-ton-hack-d-abord.scss
  front/statique/assets/images/passe-ton-hack-d-abord/hero.png
Due: none

Mode tablette pour "Avantages"
  front/src/operation-cactus/Avantages.svelte
Due: prettier, eslint

Ajoute la section "Présentation"
  front/src/passe-ton-hack-d-abord/PasseTonHackDabord.svelte
  front/src/passe-ton-hack-d-abord/Presentation.svelte
Due: prettier, eslint

Mentionne les grilles & largeurs max
  .claude/skills/integrer-landing-page/references/design-system.md
Due: prettier
