Repository betagouv/anssi-demain-specialiste-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system

Réduis la taille de l'entête
  front/src/style/_global.scss
Due: none

[UI KIT] Passe à la version 1.37.1
  front/package.json
  front/src/composants/RechercheTextuelle.svelte
  package-lock.json
Due: prettier, eslint

Retire la CSP sur les images embarquées
  back/src/api/middleware.ts
Due: prettier, eslint

Sers les ressources depuis l'entrepot de production
  front/src/cyber-en-jeux/Ressources.svelte
Due: prettier, eslint

[CYBER-ENJEUX] Reformule le titre de la présentation
  front/src/cyber-en-jeux/PresentationCyberEnjeux.svelte
Due: prettier, eslint

[ACCUEIL] Force l'espace après les signes de ponctuation
  back/vues/encarts/encart-cyberenjeux.pug
Due: none

Passe l'UI Kit en versionn 1.37.2
  front/package.json
  package-lock.json
Due: none

[DEPOSE-JEU] Enrichi l'alerte lorsque des fichiers sont bloqués
  front/src/jeux/FormulaireJeu/AlerteEnvoi.svelte
  front/src/jeux/FormulaireJeu/FormulaireJeu.svelte
Due: prettier, eslint

Redirige sur le domaine du site
  back/src/api/dsc.ts
  back/src/api/middleware.ts
  back/src/infra/adaptateurEnvironnement.ts
  back/tests/api/fauxObjets.ts
  back/tests/api/middleware.spec.ts
  back/tests/api/ressourceJeu.spec.ts
  back/tests/api/ressourceJeux.spec.ts
  back/tests/api/ressourceMesJeux.spec.ts
Due: prettier, eslint

[SECU] Synchronise les versions des dépendances
  back/package.json
  front/package.json
  package-lock.json
  package.json
Due: none

[SECU] Restreins la résolution des versions
  back/package.json
  back/src/api/moteurDeRendu.ts
  front/package.json
  package-lock.json
  package.json
Due: prettier, eslint

[SECU] Prépare pnpm
  package.json
  pnpm-workspace.yaml
Due: none

[SECU] Migre les dépendances vers pnpm
  package-lock.json
  pnpm-lock.yaml
Due: none

[SECU] Migre la configuration des workspaces
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[SECU] Utilise pnpm à la place de npm
  back/package.json
  package.json
Due: none

Répare les tests avec pnpm
  back/package.json
  front/package.json
  pnpm-lock.yaml
Due: none

[SECU] Utilise pnpm dans les scripts
  package.json
  pnpm-lock.yaml
Due: none

Répare le script de dev
  back/package.json
  package.json
  pnpm-workspace.yaml
Due: none

[SECU] Autorise pnpm uniquement
  package.json
Due: none

[SECU] Utilise pnpm dans la CI
  .github/workflows/integration-continue.yml
Due: none

[SECU] Mets à jour le README
  README.md
Due: prettier

Exécute une fois seulement les tâches préalables aux tests
  .github/workflows/integration-continue.yml
  back/package.json
  front/package.json
  package.json
Due: none

[SECU] Utilise pnpm lors du déploiement
  back/package.json
  scripts/clever-cloud/post-build-clever.sh
  scripts/clever-cloud/pre-run-clever.sh
Due: none

Path conditions:
  prettier: any of: \.(?:[jt]s?|md|svelte)$
  eslint: any of: \.(?:[jt]s?|svelte)$
