Repository betagouv/anssi-demain-specialiste-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

eslint:
  name: eslint
  entry: npx eslint
  language: system

[SECU] Monte la version de picomatch en 4.0.4
  package.json
Due: none

Retire les surcharges inutiles
  package.json
  pnpm-lock.yaml
Due: none

[SECU] Monte la version de path-to-regexp en 0.1.13
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[ACCUEIL] Ajoute la carte FCSC
  back/vues/index.pug
Due: none

[SECU] Monte la version de lodash en 4.18.1
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[SECU] Monte la version de vite en 7.3.2
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[FCSC] Remplace l’illustration des jeunes
  front/src/france-cybersecurity-challenge/ResumeFranceCybersecurityChallenge.svelte
  front/statique/assets/images/fcsc/3-jeunes-supporters-fcsc.svg
  front/statique/assets/images/fcsc/4-jeunes-supporters-fcsc.svg
Due: prettier, eslint

[SECU] Monte la version de axios en 1.15.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

[SECU] Ajoute une CSP
  back/src/api/middleware.ts
Due: prettier, eslint

[SOIN] Ajuste la configuration eslint
  eslint.config.mts
  package.json
  pnpm-lock.yaml
Due: none

[DEP] Ajoute sentry/browser en dépendance du front
  front/package.json
  pnpm-lock.yaml
Due: none

[SECU] Retire une CSP inutile
  back/src/api/middleware.ts
Due: prettier, eslint

Inject sentry dans les headers des pages
  back/src/api/moteurDeRendu.ts
  back/vues/fragments/prologue.pug
  front/src/sentry.ts
  front/vite.config.ts
Due: prettier, eslint

Supprime un fichier qui n’est plus utile
  back/todo.md
Due: prettier

Ajoute informations pour Claude
  CLAUDE.md
Due: prettier

[SECU] Monte la version de follow-redirects en 1.16.0
  package.json
  pnpm-lock.yaml
Due: none

[SECU] Monte la version de postcss en 8.5.10
  package.json
  pnpm-lock.yaml
Due: none

[SECU] Monte la version de axios en 1.15.2
  package.json
  pnpm-lock.yaml
Due: none

[SECU] Monte la version de fast-xml-builder en 1.1.6
  package.json
  pnpm-lock.yaml
Due: none

[SECU] Monte la version de fast-xml-parser en 5.7.0
  package.json
  pnpm-lock.yaml
Due: none

Corrige l’injection du nonce
  back/vues/fragments/prologue.pug
  front/vite.config.ts
Due: prettier, eslint

Change Omnicité par Crème de la crème
  back/vues/annexes/a-propos.pug
Due: none

Path conditions:
  prettier: any of: \.(?:[jt]s?|md|svelte)$
  eslint: any of: \.(?:[jt]s?|svelte)$
