Repository betagouv/anssi-demain-specialiste-cyber: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: \.(?:[jt]s?|md|svelte)$
        types: [ file ]
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: \.(?:[jt]s?|svelte)$
        types: [file]

[JCOP] Envoie un seul fichier par appel
  back/src/api/ressourceMesJeux.ts
  back/src/infra/adaptateurAntivirus.ts
  back/tests/infra/adaptateurJCOP.spec.ts
Due: prettier, eslint

[SELECTIONS] Ajoute la propriété 'scroll-margin-top' aux sections
  front/src/selections/Selection.svelte
Due: prettier, eslint

[UI KIT] Passe à la version 1.36.1
  front/package.json
  package-lock.json
Due: none

[SELECTIONS] Améliore le comportement de l'état actif des ancres au scroll
  front/src/selections/Selection.svelte
Due: prettier, eslint

[CORRECTION] Dépôt Jeu - Corrige les espacements des blocs 'Photos' & 'Couverture'
  front/src/jeux/FormulaireJeu/EtapePhotos.svelte
Due: prettier, eslint

[CORRECTION] Dépôt Jeu - Corrige la taille des 'legend' des blocs 'Photos' & 'Couverture'
  front/src/jeux/FormulaireJeu/EtapePhotos.svelte
Due: prettier, eslint

[CORRECTION] Dépôt Jeu - Ajuste les dimensions de l'encart 'Déposer un jeu'
  front/src/jeux/MesJeux.svelte
Due: prettier, eslint

Spécifie la version de la CLI Clever à installer
  .github/workflows/deploiement.yml
Due: none

Évite les `npx` pour appeler directement les programmes installés
  .pre-commit-config.yaml
  back/package.json
  front/package.json
Due: none

Documente l'utilisation de `npm ci` plutôt que `npm install`
  README.md
Due: prettier

Link l'application une seule fois lors du déploiement
  .github/workflows/deploiement.yml
Due: none

Monte la version de ts-jest
  front/package.json
  package-lock.json
Due: none

Corrige la vulnerabilité de glob@10.4.5
  package-lock.json
Due: none

[SECURITE] Colmate la version de JWS
  package-lock.json
Due: none

[JEUX] Harmonise la taille des cartes
  front/src/jeux/MesJeux.svelte
Due: prettier, eslint

[CORRECTION] Monte la version de svelte
  front/package.json
  package-lock.json
Due: none

[UI KIT] Passe à la version 1.37.1
  front/package.json
  front/src/composants/RechercheTextuelle.svelte
  package-lock.json
Due: prettier, eslint

[DEPOSE-JEU] Affiche une alerte
  front/src/jeux/FormulaireJeu/FormulaireJeu.svelte
  front/tests/jeux/FormulaireJeu/FormulaireJeu.spec.ts
Due: prettier, eslint

[SOIN] Extrait l'alerte de soumission
  front/src/jeux/FormulaireJeu/AlerteEnvoie.svelte
  front/src/jeux/FormulaireJeu/FormulaireJeu.svelte
Due: prettier, eslint

Retire la CSP sur les images embarquées
  back/src/api/middleware.ts
Due: prettier, eslint

Informe l'utilisateur d'un problème sur les photos
  front/src/jeux/FormulaireJeu/AlerteEnvoi.svelte
  front/src/jeux/FormulaireJeu/AlerteEnvoie.svelte
  front/src/jeux/FormulaireJeu/FormulaireJeu.svelte
  front/tests/jeux/FormulaireJeu/FormulaireJeu.spec.ts
Due: prettier, eslint
